footer {
    position: fixed;
    bottom: 0; 
    width: 100%;
    background-color: #00B7DF;
    color: white;
    text-align: center;
}

@font-face {
    font-family: 'CustomFont';
    src: url('/Fonts/webfontkit-20240302-183716/sf_transrobotics-webfont.woff2') format('woff2'),
         url('/Fonts/webfontkit-20240302-183716/sf_transrobotics-webfont.woff') format('woff');
}

.tf {
    font-family: 'CustomFont', Arial, sans-serif;
}