@font-face {
    font-family: 'CustomFont';
    src: url('/Fonts/webfontkit-20240302-183716/sf_transrobotics-webfont.woff2') format('woff2'),
         url('/Fonts/webfontkit-20240302-183716/sf_transrobotics-webfont.woff') format('woff');
}

.tf {
    font-family: 'CustomFont', Arial, sans-serif;
}

.container {
    display: flex;
    /* align-items: center; */
    align-items: flex-end;
}


.navbar {
    background-color: #00B7DF;
    flex: 0 0 53em;
    position: relative;
    overflow: hidden;
}

.navbar::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2.85%;
    height: 40%;
    background-color: black;
    transform-origin: top right;
    transform: skewY(35deg);
}


.bar {
    background-color: #00B7DF;
    color: #00B7DF;
    height: 20px;
    width: 70em;
}

ul {
    list-style-type: none;
    /* background-color: #00B7DF; */
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

ul li {
    padding-left: 1em;
    padding-right: 1em;
    color: black;
    display: inline;
}

ul li a, a:visited {
    text-decoration: none;
    color: black;
}

ul li a:hover {
    color: #A72436;
}

.start {
    padding-left: 2em;
    font-size: 2em;
    color: black;
}